<div class="film-item">
    <div class="film-item__number">{{indexFilm + 1}}</div>
    <div class="film-item__box-img">
        <img [src]="itemFilm.posterUrlPreview" class="film-item__img" alt="img">
    </div>
    <div class="film-item__content">
        <div class="film-item__title">{{itemFilm.nameEn}}</div>
        <div class="film-item__subtitle">{{itemFilm.year}}</div>
        <div class="film-item__description">{{itemFilm.filmLength}}</div>
    </div>
    <div appColorRating [rating]="itemFilm.rating" class="film-item__rating">{{itemFilm.rating}}</div>
</div>
