<ul class="main-menu">
  <li class="main-menu__item">
    <a routerLink="./top-films" class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_home.png" width="24" height="24" alt="icon-home">
      Главная
    </a>
  </li>
  <li class="main-menu__item">
    <a class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_online.png" width="24" height="24" alt="icon-home">
      Онлайн кинотеатр
    </a>
  </li>
  <li class="main-menu__item">
    <a class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_film.png" width="24" height="24" alt="icon-home">
      Фильмы
    </a>
  </li>
  <li class="main-menu__item">
    <a class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_serial.png" width="24" height="24" alt="icon-home">
      Сериалы
    </a>
  </li>
  <li class="main-menu__item">
    <a class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_sport.png" width="24" height="24" alt="icon-home">
      Спорт
    </a>
  </li>
  <li class="main-menu__item">
    <a class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_ticket.png" width="24" height="24" alt="icon-home">
      Билеты в кино
    </a>
  </li>
  <li class="main-menu__item">
    <a class="main-menu__link">
      <img src="../../../../../assets/main-menu/icon-menu_media.png" width="24" height="24" alt="icon-home">
      Медиа
    </a>
  </li>
</ul>

