<main class="signin">
  <div class="signin__container">
    <div class="content">
      <div class="content__header">
        <app-btn-come-back></app-btn-come-back>
        <app-btn-yandex-id></app-btn-yandex-id>
      </div>
      <h2>Войдите или зарегестрируйтесь</h2>
      <app-auth-form></app-auth-form>
      <h3>Войти с помощью</h3>
      <div class="content__providers">
        <div class="icon icon-vk"></div>
        <div class="icon icon-google"></div>
        <div class="icon icon-facebook"></div>
        <div class="icon icon-twitter"></div>
      </div>
    </div>
  </div>
</main>
