.top-films {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background: beige;
    position: relative;

    &__title {
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }

    &__container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.spinner {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}