:host {
  width: 100%;

  .news-block {

    &__title {
        font-weight: 600;
    }

    &__list {
        display: flex;
        gap: 10px;

        img {
            width: 192px;
            height: 262px;
        }
    }
  }
}