:host {
  width: 100%;

  .news-block {
    &__title {
      font-weight: 600;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 1220px) {
  :host {
    .news-block {
      &__title {
        font-weight: 600;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }
}
