:host {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__control {
    height: 56px;
    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;

    button {
      height: 100%;
      width: 50%;
      border-radius: 15px;
      background: inherit;
      font-size: 1rem;
      font-weight: 700;
      &:hover {
        background:rgb(0, 0, 0, 0.05);
      }
    }
    .checked {
      background:rgb(0, 0, 0, .1);
    }
  }

  &__input {
    height: 56px;
    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 15px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0, 0.05);
    padding: 0 20px;
  }

  .btn-submit {
    height: 56px;
    border-radius: 15px;
    background-color: #292933;
    color: #fff;
    font-weight: 700;
  }
}